* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: auto;
  background-color: #80808087;
  /* background: linear-gradient(purple, green); */
  /* color: white; */
  font-family: 'Roboto Slab', serif;
}

.header {
  text-align: center;
  margin-top: 30px;
}

.header-picture {
  height: 11rem;
  width: 11rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}

.contact-details>p{
  display: flex;
}
.contact-details>p>a{
  text-decoration: none;
  color: black;
}

.contact-details>p>a:hover{
  border-bottom: black 3px solid;
}

.icon {
    height: 25px;
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.address-icon{
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1568021397/personal/icons8-home-address-100_uiuzko.png);
}

.phone-icon{
background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1568022379/personal/icons8-ringing-phone-100_v9jopt.png);
}

.email-icon{
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1568022379/personal/icons8-email-100_wea7re.png);
}
.github-icon{
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1568020185/personal/icons8-github-100_acmz7a.png);
}

div>h2 {
  background-color: #ff0000b5;
  color: #ecff5d;
}

main {
  margin-top: 30px;
}

label {
  color: #45a049;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

.main-body {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1auto;
  grid-template-areas: ". .";
  width: 70%;
  margin: auto;
  grid-gap: 30px;
}

.right-side {
  padding: 0 20px;
  /* background-color: black; */

}

.left-side {
  padding: 0 20px;
}

/* 
.left.side{

} */
.form {
  max-width: 600px;
  margin: auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #d4ccca;
  padding: 20px;
}

/* .my_works{

} */
.my_buiids{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  
}

.build_image{
  height: 70%;
  width: 100%;
  border: #80808087 2px solid;
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/prep_grrczw.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}
.build_image:hover{
height: 80%;

}
.build_image.two{
   background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/yelp_ysba1o.jpg);
 
}
.build_image.three {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/eer_wgxrwv.jpg);

}
.build_image.four {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219416/uhost_m4viv1.jpg);
}
.build_image.five {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219416/oslo_jm2wes.jpg);
}
.build_image.six {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/xshear_dn6ti7.jpg);
}
.build_image.seven {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/trimly_rtjlvv.jpg);
}
.build_image.eight {
  background-image: url(https://res.cloudinary.com/ibefx/image/upload/v1572219415/eos_bkwezi.jpg);
}
.build{
   height: 9.5rem;
   width: 8rem;
   padding: 3px;
   background-color: white;
   border-radius: 3px;
  /* border: #80808087 2px solid; */
  margin: 10px 0;
}
.build-name{
  margin: 5px 0;
}

@media (max-width: 900px) {
  .main-body {
    display: block;
    /* background-color: black; */
    width: 86%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

footer {
  color: white;
  margin-top: 30px;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}